
.top_nav{
    width:100%;
    height:100%;
}
.nav_center{
    width:97%;
    height:100%;
    /* margin-left:4%; */
}
.top_nav .logo{
    width:17%;
    height:100%;
    float:left;
    margin-left:3%;
}
.top_nav .logo img{
    width:120px;
    display: block;
    /* padding-top:20px; */
}
.top_nav .nav{
    display: none;
    width:100%;
    height:100%;
    /* background:skyblue; */
    float: left;
}
.top_nav .nav ul{
    width:100%;
    height:100%;
}
.top_nav .nav ul li{
    float:left;
    width:100%;
    height:50px;
    /* line-height:80px; */
    /* font-size:14px; */
}
.top_nav .nav ul li a{
    float:left;
    margin-left:10%;
}
.top_nav .nav ul li a:hover{
    color:blue;
}
.top_nav .nav_center .btn{
    width:40px;
    height:40px;
    border:1px solid black;
    /* float: right; */
    position: absolute;
    left:85%;
    top:2%;
    display:block;
}
.top_nav .nav_center .btn img{
    width:100%;
    height:100%;
}
#lunbo{
    width:100%;
    height:260px;
    position: relative;
    overflow:hidden;
}
#slideImg{
    list-style: none;
    width:100%;
    height:260px;
    position: absolute;
}
#slideImg li{
    opacity:0;
    position:absolute;
    transition:opacity 1s ease-out;
}
#slideImg li img{
    width:100%;
    height:100%;
}
.buttons{
    width:100%;
    height:5%;
    padding-top:43%;
    text-align: center;
}
.buttons span{
    height:10px;
    width: 10px;
    display:inline-block;
    border-radius:50%;
    font-size:15px;
    text-align: center;
    background-color:rgb(182, 178, 178);
    color:white;
    opacity:0.5;
    margin-left:15px;
}
.buttons .current{
    background-color:white;
}
.anniu{
    width:100%;
    height:60px;
    margin-top:-26%;
}
.prev,.next{
    width:5%;
    height:100%;
    background-color:gray;
    float: left;
    color:white;
    opacity:0.3;
    font-size:40px;
    text-align:center;
    /* margin-top:15%; */
}
.next{
    float: right;
}
#slideImg li .opacityOn{
    opacity: 1;
}
#slideImg li .opacityOff{
    opacity: 0;
}
.solution{
    width:100%;
    height:1600px;
    /* background:skyblue; */
    margin-top:50px;
}
.solution .container{
    width:90%;
    height:100%;
    /* background:orange; */
    margin:0 auto;
}
.solution .container .title{
    width:100%;
    height:200px;
    /* background:red; */
}
.solution .container .title h5{
    color: #0075C2;
    font-size:16px;
    text-align:center;
    padding-top:30px;
}
.solution .container .title h1{
    color: #4e4e4e;
    text-align:center;
    padding-top:30px;
    font-size:36px;
}
.solution .container .fangan{
    width:100%;
    /* height:350px; */
    /* background:yellow; */
}
.solution .container .fangan .kuang{
    width:100%;
    height:100%;
    float: left;
    /* margin-left:4%; */
    margin:0;
}
.solution .container .fangan .kuang .xiang1 img{
    margin:0 auto;
    display: block;
}
.solution .container .fangan .kuang .xiang1 .dong{
    display:none;
}
.solution .container .fangan .kuang .xiang1:hover h2{
    color: rgb(0, 117, 194);
}
.solution .container .fangan .kuang .xiang1:hover .jing{
    display:none;
}
.solution .container .fangan .kuang .xiang1:hover .dong{
    display: block;
}
.solution .container .fangan .kuang .xiang1 h2{
    font-size: 18px;
    width:100%;
    height:80px;
    text-align:center;
    padding-top:30px;
    line-height:80px;
}
.solution .container .fangan .kuang .xiang1 h3{
    font-size:16px;
    font-weight:400;
    text-align:left;text-indent:25px;
    width:85%;
    margin:0 auto;
}
.solution .container .fangan .kuang .xiang2 img{
    margin:0 auto;
    display: block;
}
.solution .container .fangan .kuang .xiang2 .dong{
    display:none;
}
.solution .container .fangan .kuang .xiang2:hover h2{
    color: rgb(0, 117, 194);
}
.solution .container .fangan .kuang .xiang2:hover .jing{
    display:none;
}
.solution .container .fangan .kuang .xiang2:hover .dong{
    display: block;
}
.solution .container .fangan .kuang .xiang2 h2{
    font-size: 18px;
    width:100%;
    height:80px;
    text-align:center;
    padding-top:30px;
}
.solution .container .fangan .kuang .xiang2 h3{
    font-size:16px;
    font-weight:400;
    text-align:left;text-indent:25px;
    width:85%;
    margin:0 auto;
}
.solution .container .fangan .kuang .xiang3 img{
    margin:0 auto;
    display: block;
}
.solution .container .fangan .kuang .xiang3 .dong{
    display:none;
}
.solution .container .fangan .kuang .xiang3:hover h2{
    color: rgb(0, 117, 194);
}
.solution .container .fangan .kuang .xiang3:hover .jing{
    display:none;
}
.solution .container .fangan .kuang .xiang3:hover .dong{
    display: block;
}
.solution .container .fangan .kuang .xiang3:hover h2{
    color: rgb(0, 117, 194);
}
.solution .container .fangan .kuang .xiang3:hover .jing{
    display:none;
}
.solution .container .fangan .kuang .xiang3:hover .dong{
    display: block;
}
.solution .container .fangan .kuang .xiang3 h2{
    font-size: 18px;
    width:100%;
    height:80px;
    text-align:center;
    padding-top:30px;
}
.solution .container .fangan .kuang .xiang3 h3{
    font-size:16px;
    font-weight:400;
    text-align:left;text-indent:25px;
    width:85%;
    margin:0 auto;
}
.solution .container .fangan .kuang .xiang4 img{
    margin:0 auto;
    display: block;
}
.solution .container .fangan .kuang .xiang4 .dong{
    display:none;
}
.solution .container .fangan .kuang .xiang4:hover h2{
    color: rgb(0, 117, 194);
}
.solution .container .fangan .kuang .xiang4:hover .jing{
    display:none;
}
.solution .container .fangan .kuang .xiang4:hover .dong{
    display: block;
}
.solution .container .fangan .kuang .xiang4 h2{
    font-size: 18px;
    width:100%;
    height:80px;
    text-align:center;
    padding-top:30px;
}
.solution .container .fangan .kuang .xiang4 h3{
    font-size:16px;
    font-weight:400;
    text-align:left;text-indent:25px;
    width:85%;
    margin:0 auto;
}

.cases{
    width:100%;
    height:500px;
    /* background:skyblue; */
    margin-top:50px;
}
.cases .anli{
    width:80%;
    /* height:100%; */
    /* background:orange; */
    margin:0 auto;
}
.cases .anli .title{
    width:100%;
    height:100px;
    /* background:red; */
}
.cases .anli .title h5{
    color: #0075C2;
    font-size:16px;
    text-align:center;
    padding-top:30px;
}
.cases .anli .title h1{
    color: #4e4e4e;
    text-align:center;
    padding-top:30px;
    font-size:36px;
}
.cases .anli .ditu{
    width:100%;
    /* height:100%; */
    margin-top:50px;
    /* border: 1px solid black; */
}
.cases .anli .ditu img{
    width:100%;
    height:100%;
    margin:0 auto;
    display: block;
}
.footer{
    width:100%;
    height:450px;
    background:rgb(4, 9, 29);
    /* margin-top:10%; */
}
.footer .guanzhu{
    width:100%;
    height:300px;
    border-bottom:1px solid gray;
}
.footer .guanzhu .center{
    width:80%;
    height:300px;
    /* background:skyblue; */
    margin:0 auto;
}
.footer .guanzhu .center .left{
    width:100%;
    height:50%;
    /* background:orange; */
    float: left;
}
.footer .guanzhu .center .left h2{
    width:100%;
    height:20%;
    padding-top:5%;
    color:white;
}
.footer .guanzhu .center .left ul{
    width:100%;
    height:20%;
}
.footer .guanzhu .center .left ul li{
    float:left;
    font-size:17px;
    width:25%;
    color:white;
    margin-top:5%;
}
.footer .guanzhu .center .right{
    width:100%;
    height:50%;
    /* background:blue; */
    float: right;
}
.footer .guanzhu .center .right h2{
    width:80%;
    height:20%;
    padding-left:32%;
    padding-top:0;
    color:white;
}
.footer .guanzhu .center .right img{
    padding-left:37%;
}
.footer .bottom{
    width:100%;
    height:60px;
}
.footer .bottom p{
    width:100%;
    height:50%;
    float:left;
    color:#757f7f;
    font-size:12px;
    text-align:center;
    line-height:60px;
    display: block;
}
.footer .bottom ul{
    width:100%;
    height:100%;
    float:right;
    color:#757f7f;
    font-size:12px;
    text-align:center;
    line-height:60px;
}